<!doctype html>
<html lang="en" data-bs-theme="dark">
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
        <section class="mt-5 p-5">
        <p>I create playlists. Many, many playlists.</p>
        <p>Most of my playlists have a fun theme.</p>
        <p>And I manually go through my Spotify library to find songs that match the theme.</p>
        <p>Which takes a lot of time. When it's work a computer could do!</p>
        <hr>
        <p>So, here we are.</p>
        <p>Instead of spending my time manually searching for songs that match my latest random theme idea, I've spent my time creating an online tool to do the work for me.</p>
        <p>And now, also for YOU, wonderful web wanderer! Welcome and enjoy.</p>
      </section>
        <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>