<!doctype html>
<html lang="en" data-bs-theme="dark">
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
        <section class="mt-5 p-5">
            <p>WELCOME, <%= name %>!!!</p>
        </section>
        <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>