<br>
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <p><i>What do you want to include in your search?</i></p>
    </div>
</div>
<div class="row g-3 align-items-center">
<% for (let key in Sources) { %>
    <div class="col-auto">
        <input type="checkbox" id="<%= Sources[key].id %>" name="include" value="<%= Sources[key].id %>" <%= Sources[key].personal ? 'checked' : ''%>>
        <label for="playlists"><%= Sources[key].displayText %></label>
    </div>
    <br>
<% } %>
</div>