<br>
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <p>What do you want to include in your search?</p>
    </div>
</div>
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <input type="checkbox" id="playlists" name="include" value="playlists" checked>
        <label for="playlists">My Playlists</label>
    </div>
    <br>
    <div class="col-auto">
        <input type="checkbox" id="albums" name="include" value="albums" checked>
        <label for="albums">My Saved Albums</label>
    </div>
    <br>
    <div class="col-auto">
        <input type="checkbox" id="tracks" name="include" value="tracks">
        <label for="albums">My Saved Tracks (Liked Songs)</label>
    </div>
    <br>
    <div class="col-auto">
        <input type="checkbox" id="featured" name="include" value="featured">
        <label for="featured">Popular Playlists</label>
    </div>
    <div class="col-auto">
        <input type="checkbox" id="new" name="include" value="featured">
        <label for="featured">New Releases</label>
    </div>
</div>